.header {
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 35px;
}
@media (max-width: 767px) {
  .header {
    top: 15px;
  }
}
.header__row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
}
.header__logo {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.menu__list {
  display: flex;
}
.menu__list li {
  position: relative;
  padding: 0 37.5px;
}
.menu__list li:nth-child(2) {
  padding: 0 110px 0 37.5px;
}
.menu__list li:nth-child(3) {
  padding: 0 37.5px 0 110px;
}
.menu__list li:after {
  position: absolute;
  content: "";
  background-color: #4d4959;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  right: 0;
  top: 50%;
  transform: translate(-50%, 0);
  margin: 0 0 0 0;
}
.menu__list li:last-child:after, .menu__list li:nth-child(2):after {
  display: none;
}
.menu_link {
  color: #4d4959;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.6px;
}
@media (max-width: 767px) {
  .menu__body {
    top: -100%;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #4d4959;
    padding: 150px 0 0 0;
    overflow: auto;
    transition: all 0.3s ease 0s;
  }
  .menu__body.active {
    top: 0;
  }
  .menu_link {
    color: #fff;
    font-size: 20px;
  }
  .menu__burger {
    display: block;
    width: 30px;
    height: 20px;
    position: absolute;
    right: 35px;
    top: 20px;
    cursor: pointer;
    z-index: 3;
  }
  .menu__burger:after, .menu__burger:before {
    content: "";
    background-color: #4d4959;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .menu__burger:after {
    bottom: 0;
  }
  .menu__burger:before {
    top: 0;
  }
  .menu__burger span {
    content: "";
    background-color: #4d4959;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
  }
  .menu__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
    background-color: white;
  }
  .menu__burger.active span {
    transform: scale(0);
    background-color: white;
  }
  .menu__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
    background-color: white;
  }
  .menu__list {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .menu__list li {
    padding: 0 0 35px 0;
  }
  .menu__list li:nth-child(2), .menu__list li:nth-child(3) {
    padding: 0 0 35px 0;
  }
  .menu__list li:last-child {
    padding: 0;
  }
  .menu__list li:after {
    position: absolute;
    content: "";
    background-color: #fff;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    right: 50%;
    top: 60%;
    transform: translate(50%, 0);
    margin: 0 0 0 0;
  }
  .menu__list li:nth-child(2):after {
    display: inline;
  }
}