@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
@media (max-width: 767px) {
  html.lock,
body.lock {
    overflow: hidden;
  }
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
* {
  font-family: "Lato";
}

.wrapper {
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-screen {
  flex: 1 0 100%;
  position: relative;
}
.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.ibg img {
  display: none;
}

.generation {
  background-color: #f7f7f7;
  padding: 120px 0;
}
@media (max-width: 900px) {
  .generation {
    padding: 80px 0;
  }
}
@media (max-width: 600px) {
  .generation {
    padding: 40px 0;
  }
}

.container {
  margin: 0 auto;
  max-width: 1049px;
  padding: 0 15px;
}

.block {
  text-align: center;
}
.block__icon {
  margin: 0 0 34px 0;
}
.block__title {
  color: #353738;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  margin: 0 0 20px 0;
}
.block__text {
  color: #848789;
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
}
.block__text__vintage {
  text-align: justify;
  font-size: 16px;
  line-height: 30px;
}
.block__text__vintage::after {
  display: block;
  content: "";
  margin: 35px auto 0 auto;
  width: 50px;
  height: 1px;
  background-color: #353738;
}
@media (max-width: 1500px) {
  .block__text__vintage::after {
    margin: 15px auto 0 auto;
  }
}

.brands__rev .brands__column {
  order: 1;
}
.brands__rev .brands__column_a {
  order: 2;
}
.brands__row {
  display: flex;
}
.brands__column {
  flex: 0 1 33.333%;
}
.brands__column .brands__image {
  padding: 0 0 37.51% 0;
}
.brands__column_a {
  flex: 0 1 66.667%;
}
.brands__content {
  padding: 70px 65px 55px 65px;
  position: relative;
}
.brands__content::after {
  content: "";
  bottom: -10px;
  left: 50%;
  margin: 0 0 0 -10px;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}
@media (max-width: 1500px) {
  .brands__content {
    padding: 40px 35px 30px 35px;
  }
}
@media (max-width: 1100px) {
  .brands__row {
    flex-direction: column;
  }
}

.item {
  height: 100%;
  display: block;
  position: relative;
}
.item__logo {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: rgba(100, 194, 158, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
}
.item__logo span {
  margin: 10px 0 0 0;
  font-style: 14px;
  font-weight: 700;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: white;
}
.item__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.item:hover .item__logo {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 1100px) {
  .item {
    height: auto;
    padding: 0 0 70% 0;
  }
}

.slider {
  background-color: #f7f7f7;
  position: relative;
}
.slider__body {
  position: relative;
  padding: 120px 0 60px 0;
  min-width: 0;
  /* Слайдер с точками */
  /* Ограничивающая оболочка */
  /* Лента слайдов */
  /* Точки (булиты) */
  /* Активная точка */
  /* Элемент точки */
}
.slider__body .slick-list {
  overflow: hidden;
}
.slider__body .slick-track {
  display: flex;
}
.slider__body .slick-dots {
  padding: 104px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider__body .slick-dots li {
  list-style: none;
  margin: 0 9px 0 0;
}
.slider__body .slick-dots button {
  font-size: 0;
  width: 11px;
  height: 11px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #a9afb3;
}
.slider__body .slick-dots li.slick-active button {
  background-color: #a9afb3;
}
.slider__item {
  padding: 0;
  text-align: center;
  min-width: 0;
}
.slider__item .item__img {
  margin: 0 0 37px 0;
}
.slider__item .item__title {
  color: #353738;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 27px 0;
}
.slider__item .item__title span {
  color: #848789;
  font-family: "Lato Light";
  font-weight: 300;
  letter-spacing: 1.8px;
}
.slider__item .item__text {
  color: #848789;
  font-family: Lato;
  font-size: 24px;
  font-style: italic;
  line-height: 34px;
}

.shop__body {
  display: flex;
}
.shop__column {
  flex: 0 1 16.666%;
}
.shop__column_a {
  flex: 0 1 33.333%;
}
.shop__footer {
  background-color: #282f35;
  padding: 75px 0;
  text-align: center;
}
.shop__btn {
  display: inline-block;
  padding: 3px 60px;
  color: white;
  height: 50px;
  line-height: 40px;
  letter-spacing: 2.8px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
@media (max-width: 1100px) {
  .shop__body {
    flex-wrap: wrap;
  }
  .shop__footer {
    padding: 50px 0;
  }
  .shop__btn {
    padding: 3px 30px;
  }
  .shop__column {
    flex: 0 1 50%;
  }
  .shop__column:first-child {
    flex: 1 1 100%;
  }
  .shop__column:last-child {
    flex: 1 1 100%;
  }
}

.block-shop {
  height: 100%;
}
.block-shop__row {
  display: flex;
}
.block-shop__column {
  flex: 0 1 50%;
}
.block-shop__item {
  height: auto;
  padding: 0 0 50% 0;
}
.block-shop__item_a {
  padding: 0 0 200.5% 0;
}
.block-shop__item_l {
  padding: 0 0 100% 0;
}

.subscribe__body {
  padding: 110px 0;
  max-width: 534px;
  margin: 0 auto;
  text-align: center;
}
.subscribe__logo {
  margin: 0 0 39px 0;
}
.subscribe__label {
  color: #848789;
  font-size: 24px;
  font-style: italic;
  line-height: 34px;
  margin: 0 0 35px 0;
}
.subscribe__form {
  display: flex;
}
.subscribe__input {
  flex: 1 1 auto;
  padding: 0 8px 0 0;
}
.subscribe__input .subscribe__inp {
  width: 100%;
  height: 69px;
  border: 1px solid #d3d7d9;
  background-color: #ffffff;
  padding: 0 28px;
  color: #929292;
  font-size: 20px;
  font-style: italic;
  line-height: 24px;
}
.subscribe_button {
  flex: 0 0 126px;
  width: 100%;
}
.subscribe_btn {
  width: 100%;
  background-color: #64c29e;
  width: 126px;
  height: 69px;
  line-height: 69px;
  font-size: 24px;
  text-transform: uppercase;
  color: white;
}
@media (max-width: 750px) {
  .subscribe__body {
    padding: 50px 0;
  }
}
@media (max-width: 500px) {
  .subscribe__form {
    display: block;
  }
  .subscribe__input {
    padding: 0 0 8px 0;
  }
}

.footer {
  background-color: #f7f7f7;
}
.footer__row {
  display: flex;
  padding: 100px 0;
  align-items: center;
}
.footer__column {
  flex: 0 1 33.333%;
}
.footer__address {
  /* Style for "AOD New Yo" */
  color: #848789;
  justify-content: flex-start;
  font-size: 14px;
  font-style: italic;
  line-height: 17.87px;
  font-family: "Lato - Bold";
  font-size: 16px;
  font-weight: 700;
}
.footer__address p:first-child {
  font-weight: 700;
}
@media (max-width: 1100px) {
  .footer {
    padding: 50px 0;
  }
}
@media (max-width: 600px) {
  .footer {
    padding: 30px 0;
  }
  .footer__row {
    flex-direction: column;
    text-align: center;
  }
  .footer__address {
    padding: 0;
  }
}

.social {
  display: flex;
  justify-self: center;
  align-items: center;
  margin: 0 0 0 20%;
}
.social__link {
  margin: 0 7.5px;
}
@media (max-width: 600px) {
  .social {
    margin: 0 0 0 0;
    margin: 15px 0;
  }
}

.dev {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.dev__text {
  color: #848789;
  font-size: 14px;
  font-style: italic;
  line-height: 17.87px;
  margin: 0 9px 0 0;
}